body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 45s linear;
  height: 20vh;
  margin-top: 2vh;
  margin-bottom: 0.8vh;
}

.App-header {
  background: url('background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35vh;
  padding: 2vh;
  color: white;
  border-bottom: 0.2vh solid red;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.results {
  margin: 1vh;
}

.results img {
  height: 45vh;
  margin: 1vh;
}
